*.iml
.gradle
/local.properties
/.idea/*
*/build/*
*/.cxx/*
.DS_Store
/OneShot
/captures
.externalNativeBuild
.cxx
local.properties

reports/
crash
parse_crash.py
parse_asan_crash.sh
doc/addrline_tools.sh
packages
build
